* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_13 {
  width: 360px;
  height: 740px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v25_2 {
  width: 360px;
  height: 748px;
  background: url("../images/v25_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v34_10 {
  width: 184px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 370px;
  left: 22px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v37_24 {
  width: 165px;
  height: 114px;
  background: url("../images/v37_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 98px;
  overflow: hidden;
}
.v25_3 {
  width: 165px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Comforter Brush;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v29_3 {
  width: 119px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 84px;
  left: 38px;
  font-family: Bebas Neue;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v34_20 {
  width: 208px;
  height: 74px;
  background: url("../images/v34_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 78px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v38_40 {
  width: 310px;
  height: 16px;
  background: url("../images/v38_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 695px;
  left: 29px;
  overflow: hidden;
}
.v34_21 {
  width: 310px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v38_39 {
  width: 253px;
  height: 32px;
  background: url("../images/v38_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 55px;
  overflow: hidden;
}
.v43_7 {
  width: 47px;
  height: 32px;
  background: url("../images/v43_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v38_37 {
  width: 63px;
  height: 22px;
  background: url("../images/v38_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 64px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v38_36 {
  width: 40px;
  height: 22px;
  background: url("../images/v38_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 151px;
  overflow: hidden;
}
.v38_32 {
  width: 51px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 6px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v38_38 {
  width: 45px;
  height: 22px;
  background: url("../images/v38_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 208px;
  overflow: hidden;
}
.v38_33 {
  width: 110px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 32px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
